{% load humanize %}{% spaceless %}

  <p>{{ alerts.items }}</p>

  {% for location_alerts in alerts %}

    {% with alert=location_alerts|first %}
      <font size="14">

        {% if alert.station %}
          <span><a href="showinfo:{{ alert.station.type_id }}//{{ alert.station.station_id }}">{{ alert.station.name | safe }}</a></span>
        {% elif alert.structure %}
          <span><a href="showinfo:{{ alert.structure.type_id }}//{{ alert.order.location_id }}">{{ alert.structure.name }}</a></span>
        {% else %}
          <span>Unknown Structure (alert.order.location_id)</span>
        {% endif %}

        <br/>

        <font size="11">
          {% if alert.system %}
            <a href="showinfo:5//{{ alert.system.system_id }}">{{ alert.system.name | safe }}</a>
          {% else %}
            <span>Unknown System (Depends on structure permission)</span>
          {% endif %}
          <span> - </span>
          <a href="showinfo:3//{{ alert.order.region_id }}">{{ alert.order.region | safe }}</a>
        </font>
        <br/>
        <font color="#ff546E7A">——————————————————————————————————————————————————————</font>
      </font>
      <br/>
    {% endwith %}

    {% for alert in location_alerts %}
      {% with order=alert.order station=alert.station structure=alert.structure system=alert.system %}

        <font size="14">
          <span>{{ order.item_name | safe }}</span>
          <font size="11"> (<a href="showinfo:{{ order.item_id }}">view</a>)</font>
          <span><font color="#ff42A5F5"> x{{ order.volume_total }}</font></span>
          <span> at <font color="#ff43A047">{{ order.price | intcomma }}</font> isk</span>
          {% if alert.is_volume_alert %}
            <br/><span>Quantity left: {{ order.volume_remain }}/{{ order.volume_total }}</span>
          {% endif %}
        </font>

        {#        <br/>#}
        <br/>

      {% endwith %}
    {% endfor %}
  {% endfor %}

  <br/>

  <font color="#ff546E7A">——————————————————————————————————————————————————————</font>
  <br/>
  <font size="11"><a href="https://eve-shekel.com">eve-shekel.com</a></font><br/>
  <font size="11">
    <a href="{{ unsubscribe_link }}">Click here to stop receiving evemail alerts for {{ character.name }}.</a>
  </font>
  <br/>
{% endspaceless %}