<template>
  <v-card color="secondary">
    <v-img :src="portrait" height="200px">
      <v-toolbar style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0));" flat dense>
        <v-toolbar-title class="pa-2 subheading">{{ character.name }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu left top offset-y lazy :min-width="350" :close-on-content-click="false">
          <v-btn icon small slot="activator">
            <v-icon color="white">settings</v-icon>
          </v-btn>

          <characterSettings :character="character"/>
        </v-menu>
      </v-toolbar>
    </v-img>

    <v-card-title>
      <v-badge v-for="orders, region in regions" :key="region" right overlap color="accent">
        <span slot="badge">{{ orders.length }}</span>

        <v-chip color="primary"
                text-color="white"
                disabled
                @click="$router.push({name: 'regionOrders', params: {region: region}})">
          {{ region }}
        </v-chip>
      </v-badge>

      <div v-if="!currentOrders.length">No active orders</div>
    </v-card-title>

    <v-card-actions v-if="showActions">
      <v-badge v-if="alerts.length" right overlap color="error">
        <span slot="badge">{{ alerts.length }}</span>
        <v-icon color="warning" class="mr-1">warning</v-icon>
      </v-badge>

      <v-spacer/>

      <v-btn icon :to="{name: 'characterDashboard', params: {characterId: characterId}}">
        <v-icon color="accent">list</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
  import {mapState, mapActions, mapGetters} from 'vuex'
  import characterSettings from './characterSettings.vue'

  export default {
    components: {
      characterSettings
    },

    props: {
      characterId: {type: String, required: true},
      showActions: {type: Boolean, 'default': true},
    },

    data() {
      return {}
    },

    computed: {
      ...mapState(['characters']),
      ...mapGetters(['characterOrders', 'characterAlerts']),

      id() {
        return parseInt(this.characterId)
      },

      character() {
        return this.characters[this.id]
      },

      alerts() {
        return this.characterAlerts[this.id].filter(alert => !alert.cleared)
      },

      currentOrders() {
        return this.characterOrders[this.id].filter(order => order.is_open)
      },

      regions() {
        const regions = {};
        this.currentOrders.forEach(order => {
          if (!regions[order.region]) {
            regions[order.region] = []
          }

          regions[order.region].push(order)
        });

        return regions
      },

      portrait() {
        return 'https://image.eveonline.com/Character/' + this.id + '_256.jpg'
      }
    },

    methods: {},
  }
</script>
