<template>
  <v-toolbar v-show="loggedIn" color="primary">
    <v-icon medium color="yellow darken-2">monetization_on</v-icon>
    <v-toolbar-title>Eve Shekel</v-toolbar-title>
    <v-spacer></v-spacer>


    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'dashboard'}" exact>
        <v-icon color="accent">dashboard</v-icon>
      </v-btn>
      <span>Character dashboard</span>
    </v-tooltip>

    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'orders'}" exact>
        <v-icon color="accent">view_list</v-icon>
      </v-btn>
      <span>View all current orders</span>
    </v-tooltip>

    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'regions'}" exact>
        <v-icon color="accent">map</v-icon>
      </v-btn>
      <span>Orders by region</span>
    </v-tooltip>

    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'locations'}" exact>
        <v-icon color="accent">location_on</v-icon>
      </v-btn>
      <span>Orders by location</span>
    </v-tooltip>

    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'orderHistory'}" exact>
        <v-icon color="accent">history</v-icon>
      </v-btn>
      <span>View order history</span>
    </v-tooltip>

    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'alerts'}" exact>
        <v-badge right overlap color="error">
          <span v-if="openAlerts.length" slot="badge">{{ openAlerts.length }}</span>
          <v-icon color="accent" :class="openAlerts.length ? 'mr-1' : ''">warning</v-icon>
        </v-badge>
      </v-btn>
      <span>Order notifications</span>
    </v-tooltip>

    <v-tooltip bottom>
      <v-btn slot="activator" icon :to="{name: 'auth'}" exact>
        <v-icon color="accent">person_add</v-icon>
      </v-btn>
      <span>Add character</span>
    </v-tooltip>
  </v-toolbar>
</template>

<script>
  import {mapState, mapGetters} from 'vuex'

  export default {
    data() {
      return {}
    },

    computed: {
      ...mapState(['characters']),
      ...mapGetters(['loggedIn', 'alerts']),

      openAlerts(){
        return this.alerts.filter(alert => !alert.cleared)
      }
    },

    methods: {},
  }
</script>
