<template>
  <v-menu left top offset-y :min-width="350" :close-on-content-click="false">
    <v-btn icon small slot="activator" :disabled="!order.is_open" @click="getSettings">
      <v-icon color="grey">settings</v-icon>
    </v-btn>

    <v-card>
      <v-card-title>{{ order.type_name }} x{{ order.volume_total }}</v-card-title>

      <v-divider/>

      <v-list v-if="settings" two-line dense>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Quantity notifications</v-list-tile-title>
            <v-list-tile-sub-title>Receive an alert when the order quantity falls below limit</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch v-model="quantityAlerts"/>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Quantity notification threshold</v-list-tile-title>
            <v-list-tile-sub-title>
              <v-layout>
                <v-flex xs10>
                  <v-slider class="px-2" v-model="quantitySlider" :disabled="!settings.volume_alerts" :max="order.volume_total"/>
                </v-flex>
                <v-flex xs1 offset-xs1>{{ quantitySlider }}</v-flex>
              </v-layout>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider/>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Expiry notifications</v-list-tile-title>
            <v-list-tile-sub-title>Receive an alert when the order has X days left</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch v-model="expiryAlerts"/>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Expiry notification threshold</v-list-tile-title>
            <v-list-tile-sub-title>
              <v-layout>
                <v-flex xs10>
                  <v-slider class="px-2" v-model="expirySlider" :disabled="!settings.expiry_alerts" :max="order.duration"/>
                </v-flex>
                <v-flex xs1 offset-xs1>{{ expirySlider }}</v-flex>
              </v-layout>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>

      <div v-else class="py-4 text-xs-center">
        <v-progress-circular indeterminate color="primary"/>
      </div>
    </v-card>
  </v-menu>
</template>
<script>
  import {mapState, mapActions, mapGetters, mapMutations} from 'vuex'
  import {AXIOS} from "../constants";
  import _ from 'lodash'

  export default {
    props: {
      orderId: {type: Number, required: true}
    },

    data() {
      return {
        settings: {},
      }
    },

    computed: {
      ...mapState(['orders']),

      order() {
        return this.orders[this.orderId]
      },

      quantityAlerts: {
        get() {
          return this.settings.volume_alerts
        },
        set(value) {
          this.updateSetting('volume_alerts', value)
        },
      },

      quantitySlider: {
        get() {
          return this.settings.volume_limit
        },
        set(value) {
          this.updateSetting('volume_limit', value)
        },
      },
      expiryAlerts: {
        get() {
          return this.settings.expiry_alerts
        },
        set(value) {
          this.updateSetting('expiry_alerts', value)
        },
      },

      expirySlider: {
        get() {
          return this.settings.expiry_limit
        },
        set(value) {
          this.updateSetting('expiry_limit', value)
        },
      },
    },

    methods: {
      ...mapMutations(['setSnackbar']),

      getSettings() {
        AXIOS.get(`/api/order-settings/${this.orderId}/`).then(response => this.settings = response.data)
      },

      updateSetting(setting, value) {
        let oldValue = this.settings[setting];
        this.$set(this.settings, setting, value);

        let data = {};
        data[setting] = value;

        return AXIOS.patch(`/api/order-settings/${this.orderId}/`, data)
            .catch(request => {
              this.setSnackbar('Error changing order settings, please try again.')
              this.$set(this.settings, setting, oldValue);
            })
      },
    },
  }
</script>
