<template>
  <v-card color="grey darken-2">
    <v-card-title>
      <h3 class="subheading">{{ title }}</h3>
      <v-spacer/>
      <v-spacer/>

      <v-text-field append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    v-model="search"/>
    </v-card-title>

    <v-data-table :headers="headers"
                  :items="orders"
                  :search="search"
                  hide-actions
                  class="order-table">

      <template slot="headerCell" slot-scope="props">
        <span v-if="!props.header.tooltip">{{ props.header.text }}</span>

        <v-tooltip v-else bottom>
          <span slot="activator">
            {{ props.header.text }}
            <v-icon style="opacity: 1;">info</v-icon>
          </span>
          <span>{{ props.header.tooltip }}</span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <!-- item icon -->
        <td>
          <span>
          <v-img class="mt-1" width="28" :src="`https://imageserver.eveonline.com/Type/${props.item.type_id}_32.png`"/>
        </span>
        </td>

        <!-- item name -->
        <td>
          {{ props.item.type_name }}
          <v-chip small disabled :class="props.item.is_buy_order ? 'blue darken-3' : 'green darken-3'">
            {{ props.item.is_buy_order ? 'Buy' : 'Sell'}}
          </v-chip>
        </td>

        <!-- price -->
        <td class="text-xs-right">{{ props.item.price | commas }}</td>

        <!-- volume remaining -->
        <td class="text-xs-right">{{ props.item.volume_remain | commas }}</td>

        <!-- location -->
        <td v-if="showLocation">
          <v-btn class="my-0" flat small :to="{name: 'locationOrders', params: {location: props.item.location}}">
            {{ props.item.location | systemName }}
          </v-btn>
        </td>

        <!-- best price -->
        <td v-if="showBestPrice" :class="props.item.best_price ? '' : 'warning--text'">
          <template v-if="props.item.best_price">No</template>
          <template v-else>
            <v-icon color="warning">warning</v-icon>
            Yes
          </template>
        </td>

        <!-- average rundown -->
        <td></td>

        <!-- expires in -->
        <td>{{ props.item | expiresIn }}</td>

        <!-- last updated -->
        <td>{{ props.item.last_update | lastUpdate }}</td>

        <!-- character -->
        <td v-if="showCharacter">
          <v-btn class="my-0" flat small :to="{name: 'characterDashboard', params: {characterId: props.item.character + ''}}">
            {{ characters[props.item.character].name }}
          </v-btn>
        </td>

        <!-- buttons -->
        <td>
          <v-menu left bottom offset-y :min-width="200" :close-on-content-click="false">
            <v-btn icon small slot="activator">
              <v-icon color="grey">view_headline</v-icon>
            </v-btn>

            <v-card>
              <v-list dense>
                <v-list-tile>
                  <v-list-tile-action>
                    <v-icon color="grey">search</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>View order</v-list-tile-title>
                </v-list-tile>

                <v-list-tile :to="{name: 'market', params: {itemId: String(props.item.type_id)}}">
                  <v-list-tile-action>
                    <v-icon color="grey">trending_up</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>View item type</v-list-tile-title>
                </v-list-tile>

                <v-list-tile @click="openInGame(props.item)">
                  <v-list-tile-action>
                    <v-icon color="grey">open_in_new</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>Open in-game</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-menu>

          <orderSettings :orderId="props.item.order_id"/>
        </td>
      </template>
    </v-data-table>

  </v-card>
</template>
<script>
  import {mapState, mapMutations, mapGetters} from 'vuex'
  import {AXIOS} from '../constants'
  import orderSettings from './orderSettings.vue'
  import moment from 'moment'

  export default {
    components: {
      orderSettings,
    },

    props: {
      orders: {type: Array, required: true},
      title: {type: String, required: true},

      showBestPrice: {type: Boolean, 'default': true},
      showLocation: {type: Boolean, 'default': true},
      showCharacter: {type: Boolean, 'default': true},
      showCloseDate: {type: Boolean, 'default': false},
      showCreatedDate: {type: Boolean, 'default': false},
    },

    filters: {
      /**
       * Insert commas to separate decimal places in numbers.
       * Taken from https://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript/2901298#2901298
       */
      commas(value) {
        const parts = String(value).split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
      },

      systemName(value) {
        let systemName = value.split(" - ")[0];
        let match = new RegExp(/(.+?)( [IVXLC]+)/).exec(systemName);
        if (match) {
          return match[1]
        }
        return systemName;
      },

      expiresIn(item) {
        const expiresAt = moment(item.issued).add(item.duration, 'days');
        const days = expiresAt.diff(moment(), 'days');
        const hours = expiresAt.diff(moment(), 'hours') % 24;
        const minutes = expiresAt.diff(moment(), 'minutes') % 60;
        return `${days}d ${hours}h ${minutes}m`
      },

      lastUpdate(value) {
        let minutes = moment().diff(moment(value), 'minutes');
        let seconds = moment().diff(moment(value), 'minutes') % 60;
        return `${minutes}m ${seconds}s`;
      },

      formatDate(value) {
        return moment(value);
      },
    },

    data() {
      return {
        search: '',
      }
    },

    computed: {
      ...mapState(['characters']),

      headers() {
        return [
          {text: '', align: 'left', sortable: false},
          {text: 'Item', value: 'type_name', align: 'left'},
          {text: 'Price', value: 'price', align: 'right'},
          {text: 'Remaining', value: 'volume_remain', align: 'right'},
          this.showLocation ? {text: 'Location', value: 'location', align: 'left'} : undefined,
          this.showBestPrice ? {
            text: 'Is undercut',
            value: 'best_price',
            align: 'left',
            tooltip: 'Is the current order being beat in price?'
          } : undefined,
          {
            text: 'Average Rundown',
            value: '',
            align: 'left',
            tooltip: 'Time left until order runs out (without competition).'
          },

          {text: 'Expires In', value: '', align: 'left'},
          {text: 'Last Updated', value: '', align: 'left', tooltip: 'Time since the last order data refresh.'},

          this.showCharacter ? {text: 'Character', value: 'character_name', align: 'left'} : undefined,

          {text: '', align: 'left', sortable: false},
        ].filter(elements => elements) // remove undefined elements
      },
    },

    methods: {
      ...mapMutations(['setSnackbar']),

      openInGame(order) {
        AXIOS.post(`/api/orders/${order.order_id}/window/`).catch(error => {
          this.setSnackbar(error.response.data)
        })
      },
    },
  }
</script>
