<template>
  <v-container grid-list-xl fill-height fluid>
    <v-layout row wrap align-content-center>

      <v-flex xs12 offset-lg4 lg4>
        <v-card color="grey darken-2" class="pt-2">
          <v-container>
            <v-layout align-end justify-center>
              <a v-if="scopes" class="text-xs-center pt-2 pb-1" :href="url">
                <!-- todo: make this a little nicer and svg, add it to webpack -->
                <img src="https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png?w=270&h=45"/>
              </a>

              <v-progress-circular v-else indeterminate color="primary" class="my-3"></v-progress-circular>
            </v-layout>
          </v-container>

          <v-list v-if="scopes" subheader three-line>
            <v-subheader>Requested Scopes</v-subheader>

            <v-list-tile v-for="scope in scopes" :key="scope.name" @click="">
              <v-list-tile-action>
                <v-checkbox type="checkbox"
                            v-model="scope.checked"
                            :title="scope.description"
                            :disabled="scope.required"></v-checkbox>
              </v-list-tile-action>

              <v-list-tile-content @click="scope.checked = scope.required || !scope.checked">
                <v-list-tile-title>{{ scope.name }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ scope.description }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>

      <v-flex xs12 offset-lg4 lg4>
        <v-alert color="info" icon="info" value="true">
          Click cancel on eve SSO to switch accounts.
        </v-alert>
      </v-flex>

      <v-flex xs12 offset-lg3 lg6>
        <v-alert color="error" icon="warning" :value="error">
          There was a problem talking to the server.
          <v-btn flat @click="getSSO">Click to Try again</v-btn>
        </v-alert>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters, mapState, mapActions} from 'vuex'
	import {AXIOS} from '../constants'

  export default {
    data() {
      return {
        scopes: undefined,
        state: undefined,
        error: undefined,
      }
    },

    created() {
      if (!this.loggedIn) {
        this.authenticate().then(() => {
          if (this.loggedIn) {
            this.$router.push({name: 'dashboard'});
          } else {
            this.getSSO()
          }
        })
      } else {
        this.getSSO()
      }
    },

    computed: {
      ...mapGetters(['loggedIn', 'characterList']),
      ...mapState(['characters']),

      url() {
        let scopes = this.scopes.filter(scope => scope.checked).map(scope => scope.name); // list checked scope names
        return '/api/auth/sso/?scopes=' + scopes.join(' ') + '&state=' + this.state
      }
    },

    methods: {
      ...mapActions(['authenticate']),

      getSSO() {
        this.scopes = undefined;
        this.state = undefined;
        this.error = undefined;

        AXIOS.get('/api/auth/scopes/').then(response => {
          let data = response.data;

          data.scopes.forEach(scope => this.$set(scope, 'checked', scope.required));
          this.scopes = data.scopes;
          this.state = data.state;

        }).catch(error => {
          this.error = {error: error.data, status: error.status}
        })
      },
    },
  }
</script>
