<template>
  <v-container fluid fill-height grid-list-xl>
    <v-layout row wrap>

      <v-flex xs2>
        <character :characterId="characterId" :showActions="false"/>
      </v-flex>


      <v-flex xs4>
        <ListAlerts :alerts="alerts"/>
      </v-flex>


      <v-flex xs3>
        <v-card>
          <v-card-title><h3 class="">Currently traded items</h3></v-card-title>
          <v-divider/>
          <v-list dense>
            <v-list-tile v-for="item in itemTypes" :key="item">
              <v-list-tile-title>{{item}}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>


      <v-flex xs12>
        <orderTable :orders="currentOrders" :showCharacter="false" title="Active market orders"/>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapState, mapGetters} from 'vuex'
  import character from '../components/character.vue'
  import ListAlerts from '../components/ListAlerts.vue'
  import orderTable from '../components/orderTable.vue'

  export default {
    props: {
      characterId: {type: String, required: true}
    },

    components: {
      character,
      ListAlerts,
      orderTable,
    },

    data() {
      return {}
    },

    computed: {
      ...mapState(['characters']),
      ...mapGetters(['characterOrders', 'characterAlerts']),

      portrait() {
        return 'https://image.eveonline.com/Character/' + this.characterId + '_256.jpg'
      },

      character() {
        return this.characters[this.characterId]
      },

      alerts() {
        return this.characterAlerts[this.characterId].filter(alert => !alert.cleared)
      },

      currentOrders() {
        return this.characterOrders[this.characterId].filter(order => order.is_open)
      },

      itemTypes() {
        const items = this.currentOrders.map(order => order.type_name);
        return Array.from(new Set(items));
      },

      regions() {
        const regions = {};
        this.currentOrders.forEach(order => regions[order.region] = [...regions[order.region] || [], order]);

        return regions
      },
    },
  }
</script>
