<template>
	<v-container  fill-height grid-list-xl>
		<v-layout row wrap>

			<v-flex xl2 lg3 md4 sm6 xs12 v-for="character in characters" :key="character.id">
				<character :characterId="character.id + ''"/>
			</v-flex>
		
		</v-layout>
	</v-container>
</template>
<script>
  import {mapState} from 'vuex'
  import character from '../components/character.vue'

  export default {
    components: {character},

    computed: {...mapState(['characters'])},
  }
</script>
