<template>
  <div>

    <section class="green">
      <v-img src="/static/2.svg" width="100%" height="400" class="white--text">

        <v-layout column align-center justify-center fill-height>
          <h1 class="white--text mb-2 display-1">EVE Shekel</h1>
          <div class="subheading mb-3">EVE Online market order tracking</div>
          <v-btn class="lighten-2 mt-5" color="green accent-4" dark large :to="{name:'auth'}">Get Started</v-btn>
        </v-layout>

      </v-img>
    </section>

    <section class="green darken-2 py-5">
      <v-layout row wrap align-center>

        <v-flex xs12 class="my-3">
          <div class="text-xs-center">
            <h2 class="headline">The best way to track market orders</h2>
            <span class="subheading">Eve Shekel handles watching the market so you don't have to</span>
          </div>
        </v-flex>

        <v-flex xs12 lg4 sm4 class="my-3">
          <v-img src="/static/1.svg" width="100%" class="white--text"/>
        </v-flex>
        <v-flex xs12 lg8 sm4 class="my-3">
          <div class="text-xs-center">
            <h2 class="headline">Market PvP made easy</h2>
            <span class="subheading">Get notified when someone outbids your order. Eve Shekel polls market data every 6 minutes.</span>
          </div>
        </v-flex>

        <v-flex xs12 lg8 sm4 class="my-3">
          <div class="text-xs-center">
            <h2 class="headline">View your orders from all over New Eden</h2>
            <span class="subheading">Eve Shekel watches all of the markets that you trade in, across all of your characters.</span>
          </div>
        </v-flex>
        <v-flex xs12 lg4 sm4 class="my-3">
          <v-img src="/static/3.png" width="100%"/>
        </v-flex>

      </v-layout>
    </section>

    <section class="green py-5">
      <v-layout column align-center justify-center>
        <div class="headline white--text mb-3 text-xs-center headline">Features</div>
        <ul class="subheadding">
          <li>Order tracking over multiple regions</li>
          <li>Supports station and citadel markets</li>
          <li>Receive notifications when orders close or are outbid</li>
          <li>Optional ESI permissions</li>
          <li>Order sorting and search</li>
        </ul>
      </v-layout>
    </section>

    <section class="green darken-2 py-5">
      <div class="headline white--text mb-3 text-xs-center headline">FAQ</div>
      <v-layout row wrap>

        <v-flex xs12 sm6 lg4 offset-sm3 offset-lg4>
          <span class="title">Why do new orders take so long to show up?</span>
          <p>
            We poll public market data every six minutes to update orders known.
            Unfortunately, if Eve Shekel does not know about an order yet, we cannot look it up on the public market endpoint.
            To solve this, we use an ESI endpoint with a 20 minute refresh to look for new orders.
            We call this endpoint every 24 minutes so as to avoid receiving old data.
          </p>
        </v-flex>

        <v-flex xs12 sm6 lg4 offset-sm3 offset-lg4>
          <span class="title">Why does this app require ESI permissions?</span>
          <p>
            Eve shekel requires the <em>read_character_orders</em>
            permission to read market orders that your character has made.
            Without this permission, there is no way to tell which market order belongs to which character.
            Similarly, it would not be possible to tell when an order gets completed.
            <br/>
            This is the only permission that this app needs to function, everything else this relies on is public information.
            This includes public ESI endpoints to get region and item information, as well as character name and ID.
            <br/>
            Optional permissions are provided for your convenience.
          </p>
        </v-flex>

        <v-flex xs12 sm6 lg4 offset-sm3 offset-lg4>
          <span class="title">Why should I trust you and give you permission for my data?</span>
          <p>
            In general you should not trust third party applications with ESI permissions.
            Some ESI scopes give access to a lot of very dangerous data.
            <br/>
            Eve Shekel only needs permission to read market orders, so that is the only scope that is Required.
            This app does not keep any more information on market orders than needed to work.
            <br/>
            The code is all opensource, hosted at
            <a href="https://gitlab.com/rsgm-eve-apps/eve-shekel" class="green--text text--accent-3">https://gitlab.com/rsgm-eve-apps/eve-shekel</a>.
            Feel free to review the code, or even request changes as you see fit.
          </p>
        </v-flex>

        <v-flex xs12 sm6 lg4 offset-sm3 offset-lg4>
          <span class="title">I have a question/comment/bug, how do I contact you?</span>
          <p>
            You can email me at <a href="mailto:rsgm.eve@gmail.com" class="green--text text--accent-3">rsgm.eve@gmail.com</a>.
            Please report bugs and suggestions to the gitlab repo linked above.
          </p>
        </v-flex>

      </v-layout>
    </section>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    created() {
      if (!this.loggedIn) {
        this.authenticate().then(() => {
//          this.$router.push({name: 'dashboard'});
        })
      }
    },

    computed: {
      ...mapGetters(['loggedIn', 'characterList']),
    },

    methods: {
      ...mapActions(['authenticate']),
    },
  }
</script>
