<template>
  <v-container fluid fill-height grid-list-xl>
    <v-layout align-content-space-around>


      <div id="plotly-div"/>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {AXIOS} from '../constants'
  import orderTable from '../components/orderTable.vue'
  import querystring from 'querystring'

  export default {
    props: {
      itemId: {type: String, required: true},
    },

    components: {
      orderTable
    },

    data() {
      return {
        location: undefined,
        region: undefined,
        layout: 0, // 0: vertical, 1: horizontal, 2: tabs

        graphData: {
          type: 'candlestick',
          xaxis: 'x',
          yaxis: 'y',
          decreasing: {line: {color: '#7F7F7F'}},
          increasing: {line: {color: '#17BECF'}},
          line: {color: 'rgba(31,119,180,1)'},

          x: [], // time axis
          close: [],
          high: [],
          low: [],
          open: [],
        }
      }
    },

    computed: {},

    created() {
      const filters = this.$route.query;

      // get item data
      // get orders
      // get market data

      this.loadHistory();
    },

    methods: {
      loadOrders() {
        // const params = new URLSearchParams();
        // params.append('param1', 'value1');
        // params.append('param2', 'value2');
        AXIOS.get(`/api/public/item/${this.itemId}/orders/}`)
      },
      loadHistory() {
//        const params = new URLSearchParams();
//        params.append('location', this.location);
//        params.append('region', this.region);
//        params.append('interval', );
//        params.append('start', );
//        params.append('end', );
        AXIOS.get(`/api/public/item/${this.itemId}/history/`).then(response => {
          const historyPoints = response.data; //.sort(point => point.time)

          this.graphData.x = historyPoints.map(point => point.time);
          this.graphData.close = historyPoints.map(point => point.close_price);
          this.graphData.high = historyPoints.map(point => point.total_high_price);
          this.graphData.low = historyPoints.map(point => point.total_low_price);
          this.graphData.open = historyPoints.map(point => point.open_price);

          this.plotGraph();
        })
      },
      search() {
        AXIOS.get(`/api/public/item/?search=`)
      },

      plotGraph() {
        // plotly doesn't work well with webpack, doesn't seem to work as a script tag
        Plotly.plot('plotly-div', [this.graphData], {
          dragmode: 'zoom',
          margin: {
            r: 10,
            t: 25,
            b: 40,
            l: 60
          },
          showlegend: false,
          xaxis: {
            autorange: true,
            rangeslider: {range: ['2017-01-17 12:00', '2017-02-10 12:00']},
            title: 'Date',
            type: 'date'
          },
          yaxis: {
            autorange: true,
            type: 'linear'
          },

          annotations: [
            {
              x: '2017-01-31',
              y: 0.9,
              xref: 'x',
              yref: 'paper',
              text: 'largest movement',
              font: {color: 'magenta'},
              showarrow: true,
              xanchor: 'right',
              ax: -20,
              ay: 0
            }
          ],

          shapes: [
            {
              type: 'rect',
              xref: 'x',
              yref: 'paper',
              x0: '2017-01-31',
              y0: 0,
              x1: '2017-02-01',
              y1: 1,
              fillcolor: '#d3d3d3',
              opacity: 0.2,
              line: {
                width: 0
              }
            }
          ]
        })
      },
    },
  }
</script>
