<template>
  <v-container fluid fill-height grid-list-xl>
    <v-layout align-content-space-around>

      <v-flex>
        <orderTable title="All active market orders" :orders="currentOrders"/>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import orderTable from '../components/orderTable.vue'

  export default {
    components: {
      orderTable,
    },

    computed: {
      ...mapGetters(['currentOrders']),
    },
  }
</script>
